#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	text-align:center;
	color:#fff;
}

#splashText {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.loader_cover {
  width: 100%;
  height: 50%;
  background-color: #333;
  transition: all 1s cubic-bezier(.04, .435, .315, .9);
  transform: scaleY(1);
}
.loader_cover-up {
  transform-origin: center top;
}

.loader_cover-down {
  position: absolute;
  bottom: 0;
  transform-origin: center bottom;
}

.coveranime {
  transform: scaleY(0);
}