<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Layout Sample 1</title>
</head>
<body>
<h1>Position Layout</h1>
<div id="container">
  <div id="main">
    <h2>HTML</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, aperiam et veritatis officiis beatae iste earum totam dolores eaque...</p>
    <h2>CSS</h2>
      <p>Enim voluptate at sed culpa debitis error similique voluptatum labore asperiores!...</p>
    <h2>jQuery</h2>
      <p>Dolorum, praesentium, reprehenderit, id labore excepturi dolorem provident alias vel animi at dolores eius corporis adipisci asperiores ...</p>
    <h2>PHP</h2>
      <p>Quasi, natus, iusto, eveniet repudiandae maxime non obcaecati tenetur omnis dolorem dolorum atque molestiae cupiditate. ...</p>
    <h2>WordPress</h2>
      <p>Voluptatibus, quas a nulla sunt assumenda consectetur dolor illum optio unde nisi! Ea, aliquam, qui?...</p>
  </div><!-- end of #main -->
  <div id="navi">
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>jQuery</li>
      <li>PHP</li>
      <li>WordPress</li>
    </ul>
  </div><!-- end of #navi -->
</div><!-- end of #container -->
</body>
</html>  