body {
  margin-bottom: 300px;
}

.sample01 {
  border: 1px solid #76a3af;
  border-radius: 4px;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  background: lightblue;
  color: darkblue;
  transition: .7s;
}

.sample01:hover {
  background: darkblue;
  color: white;
}

.sample02 {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
  color: green;
  box-shadow: 20px 10px 2px #8d9eb8;
  transition: 1s;
}

.sample02:hover {
  color: orange;
  box-shadow: -10px 10px 5px #8d9eb8;
}

.sample03 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin: 50px 0;
  border: 1px solid #bbb232;
  background: #f7ed91;
  color: #ecb94c;
  transition: .5s;
}

.sample03:hover {
  color: #e47609;
  transform: rotate(360deg);
}

.sample_img {
  width: 150px;
  height: 132px;
  overflow: hidden;
}

.sample_img img {
  opacity: .7;
  width: 150px;
  transition: all .5s;
}

.sample_img img:hover {
  opacity: 1;
  transform: scale(1.1, 1.1); 
}

.sample04 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin: 50px 0;
  color: #449F32;
  background-color: #d4f8ba;
  transition-property: color, background-color;
  transition-duration: 1s, 2s;
  transition-delay: 0s, 1s;
}
.sample04:hover {
  color: #d05557;
  background-color: #f4d2d2;
  
}

.sample05 {
  width: 80px;
  height: 30px;
  line-height: 30px;
  border: 1px solid red;
  border-radius: 4px;
  text-align: center;
  margin: 30px 0;
  color: black;
  background-color: #f5b9ba;
  transition: width 0.5s ease 0s, height 0.5s ease-in 0.5s, line-height .2s ease-in .3s;
}

.sample05:hover {
  width: 120px;
  height: 70px;
  line-height: 70px;
}

.sample07 {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 30px;
  background: #f1e9e9;
  color: #c95a5c;
  border: 1px solid #f8dadb;
  transition: all 1s;
}

.sample07:active {
  width: 160px;
  height: 160px;
  line-height: 160px;
  border-radius: 80px;
  background: #eb0a0e;
  color: #fff;
  font-size: 28px;
  border: 5px solid #e4dd1a;
}

.sample08 {
  height: 30px;
  border-color: white;
  border: 1px solid #999;
  border-radius: 4px;
  outline: none;
  transition: 2s;
}

.sample08:focus {
  background-color: #dff7c9;
  border: 1px solid #54c43d;
  outline: 0;
}

.sample10 {
  width: 30px;
  height: 30px;
  background: #efcecf;
  border: 1px solid #c79a9b;
  margin-left: 0;
  transition: all 1s;
}

#trigger {
  display: none;
}

#trigger:checked ~ label .sample10 {
  margin-left: 200px;
  width: 100px;
  height: 50px;
  background: #f17c7e;
}

.sample11 {
  width: 50px;
  height: 50px;
  border: 1px solid red;
  background-color: green;
  transition: all 1s;
}

.sample11.jq_trans {
  width: 100px;
  height: 100px;
  border: 2px solid #59935b;
  border-radius: 50px;
  border-color: #abf4a8;
}

.sample12 {
  width: 400px;
  height: 200px;
  background-color: #bedbf7;
  border: 1px solid #658cbb;
  transition: all 3s;
}
.sample12_inner {
  margin: 20px;
  width: 50px;
  height: 50px;
  background-color: #f4c9ca;
  border: 1px solid #cd8e8f;
  transition: all 1s;
}

.sample12.jq_trans {
  border-color: #294f88;
  border: 1px solid #173072;
}

.sample12_inner.jq_trans {
  transform: translate(300px, 100px) rotate(1080deg);
  background-color: #b7292b;
  border-color: #ed8cbd;
}

.sample14 {
  position: relative;
  width: 400px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, .1);
  background: #e6fcfa;
}

.sample14_circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #4c926c;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44,1);
}

.sample15 {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #2a94b9;
  border: 1px solid #317aaf;
  background-color: #b9dffb;
  transition: all 1s;
}
.rotate720 {
  transform: rotate(-360deg);
}

.sample16 {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #2a94b9;
  border: 1px solid #317aaf;
  background-color: #b9dffb;
  transition: all 1s;
  transform-origin: right bottom;
}
.rotate720 {
  transform: rotate(360deg);
}

.sample17 {
  margin: 30px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #2a94b9;
  border: 1px solid #317aaf;
  background-color: #b9dffb;
  transition: all 1s;
}
.rotateY720 {
  transform: rotateY(720deg);
}

.sample18 {
  margin: 30px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #2a94b9;
  border: 1px solid #317aaf;
  background-color: #b9dffb;
  transition: all 1s;
  transform-origin: right;
}

.sample19 {
  margin: 30px 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #2a94b9;
  border: 1px solid #317aaf;
  background-color: #b9dffb;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sample19:hover {
  transform: translate(300px);
  opacity: 0;
}

.sample20 {
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  background-color: #096313;
  color: #fff;
  transition: all .5s;
}
.sample20:hover {
  transform: skewX(-40deg);
}

.sample21 {
  margin: 30px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  background-color: #096313;
  color: #fff;
  transition: all .5s;
}
.sample21:hover {
  transform: skew(-40deg, 60deg);
}

.sample22 {
  width: 50px;
  height: 50px;
  background-color: #d8bff8;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.mix {
  transform: translate(300px) rotate(720deg) scale(3,2);
  opacity: .3;
}

.menu_button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #999;
}
.menu_button::before,
.menu_button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 6px;
  right: 6px;
  margin-top: -2px;
  border-top: 4px solid #666;
  transition: transform .3s;
}
.menu_button::before {
  transform: translateY(-6px);
}
.menu_button::after {
  transform: translateY(6px);
}
.menu_button.active::before {
  transform: rotate(45deg);
}
.menu_button.active::after {
  transform: rotate(-45deg);
}

.menu_button2 {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 1px solid #999;
}
.menu_button2::before,
.menu_button2::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 8px;
  right: 8px;
  margin-top: -8px;
  border-top: 4px solid #999;
  transition: transform .3s;
}
.menu_button2::after {
  border-bottom: 4px solid #999;
  padding-top: 8px;
}

.menu_button2::before {
  transform: translateY(-6px);
}
.menu_button2::after {
  transform: translateY(6px);
}
.menu_button2.active::before {
  transform: rotate(45deg);
  margin-top: -2px;
}
.menu_button2.active::after {
  transform: rotate(-45deg);
  border-bottom: none;
  padding-top: 0;
  margin-top: -2px;
}

.animation_test {
  width: 300px;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  animation: my_anime01 3s;
}

@keyframes my_anime01 {
  0% {
    background-color: skyblue;
  }

  50% {
    background-color: pink;
  }

  100% {
    background-color: orange;
  }
}

.animation_01 {
  width: 300px;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #999;
}
.animation_01:hover {
  animation: sample_anime01 3s;
}

@keyframes sample_anime01 {
  0% {
    background-color: skyblue;
  }

  50% {
    background-color: pink;
  }

  100% {
    background-color: orange;
  }
}

.animation_02 {
  width: 300px;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #999;
  animation: sample_anime02 3s infinite paused;
}

.animation_02:hover {
  animation-play-state: running;
}

@keyframes sample_anime02 {
  0% {
    background-color: skyblue;
  }

  50% {
    background-color: pink;
  }

  100% {
    background-color: orange;
  }
}

.animation_03 {
  width: 300px;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #999;
  /* animation: sample_anime02 3s infinite paused; */
}

.start_anime01 {
  animation: sample_anime03 3s;
}

@keyframes sample_anime03 {
  0% {
    background-color: skyblue;
    box-shadow: 0px 0px 15px #3741f7;
  }

  50% {
    background-color: pink;
    color: #fff;
  }

  100% {
    background-color: orange;
  }
}

.animation_04 {
  width: 300px;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #999;
}
.start_anime02 {
  animation: sample_anime04 3s;
}

@keyframes sample_anime04 {
  0% {
    background-color: skyblue;
  }

  50% {
    background-color: pink;
    color: #fff;
  }

  100% {
    background-color: orange;
    box-shadow: 20px 10px 10px #8d9eb8;
  }
}